# SPDX-FileCopyrightText: 2020 The HedgeDoc developers (see AUTHORS file)
#
# SPDX-License-Identifier: AGPL-3.0-only

name: Build and Deploy

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v2
        with:
          repository: 'hedgedoc/hedgedoc'

      - uses: actions/setup-python@v2
        with:
          python-version: 3



      - name: Install pip depdencies
        run: |
          python -m pip install --upgrade pip
          pip3 install -r requirements.txt
        working-directory: docs

      - name: Build docs
        run: mkdocs build
        working-directory: docs

      - name: Add CNAME
        run: echo "docs.hedgedoc.org" > ./docs/site/CNAME

      - name: Deploy to GitHub Pages Branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/site


#      - name: Install structor
#        run:  "curl -sfL https://raw.githubusercontent.com/traefik/structor/master/godownloader.sh | bash -s -- -b ."
#      - name: Run Structor
#        run:  ./structor -o hedgedoc -r hedgedoc --dockerfile-url="https://raw.githubusercontent.com/hedgedoc/docs.hedgedoc.org/main/docs.Dockerfile" --menu.js-file="https://github.com/hedgedoc/docs.hedgedoc.org/blob/main/version-menu.js.gotmpl" --exp-branch=master
      
